{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">More</th>
                    <th scope="col">Edit</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>
                <tbody>
                {% for name in names %}
                    <tr>
                        <td>{{ loop.index }}</td>
                        <td>{{ name['name'] }}</td>
                        <td><a href="{{ url_for('details', name_id=name['id']) }}">More</a></td>
                        <td><a href="{{ url_for('edit', id=name['id']) }}">Edit</a></td>
                        <td><a href="{{ url_for('delete', id=name['id']) }}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}